:root {
    --margin: 20px;
}

body {
    margin: var(--margin);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.container {
    display: flex;
}

.area-select {
    width: 36%;
}

.area-selector {
    margin-top: 5px;
    display: block;
}

.area-chart {
    width: 64%;
    padding-left: 3rem;
    top: var(--margin);;
    align-self: flex-start;
    position: sticky;
}

@media screen and (max-width: 1024px) {

    .container {
        flex-direction: column;
    }

    .area-select {
        width: 100%;
    }

    .area-chart {
        width: 100%;
        padding-left: 0;
    }

}